

	<section .inicio">
		<img src="/images/foto.jpg" alt="Foto do Filme Intocáveis" class="photo">
	</section>


	<section class="row">
		<div class="large-12 columns">
			<h3>Iniciativa</h3>
			<p class="text">É o fim de um curso {Reprograma} e inicio de uma jornada, que trouxe mudanças e me fez repensar em valores e questões que nos rodeiam todos os dias. O <strong>Guia Inclusivo</strong> tem o objetivo de ajudar pessoas com algum tipo de deficiência a se locomover com mais segurança e facilidade. 	</p>
		</div>
	</section>
		<hr></hr>
		
	<section class="row" >
		<div class="large-12 columns" id="hoteis">
			<h3>Hotéis</h3>
			<% for (var x= 0; x< hoteis.length; x++) { %>
			<h3 class="title"><%= hoteis[x].name %></h3>
			<img src="<%= hoteis[x].img %>" class="imagem small-8 columns ">
			<p><%= hoteis[x].description %></p>
			<p class="text"><%= hoteis[x].location %></p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>	
			<hr></hr>
			 <% } %>
			
		</div>	

		<div class="large-12 columns" id="museus">
			<h3>Museus</h3>
			<% for (var x= 0; x< museus.length; x++) { %>
				<h3 class="title"><%= museus[x].name %></h3>
				<img src="<%= museus[x].img %>" class="imagem small-8 columns ">
				<p><%= museus[x].description %></p>
				<p class="text"><%= museus[x].location %></p>
				<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
					<img src="/images/moovit.png" class="infocaminho">
				</a>		
				<hr></hr>
			<% } %>
			
		</div>

		<div class="large-12 columns" id="parques">
			<h3>Parques</h3> 
			<% for (var x= 0; x< parques.length; x++) { %>
			<h3 class="title"><%= parques[x].name %></h3>
			<img src="<%= parques[x].img %>" class="imagem small-8 columns ">
			<p><%= parques[x].description %></p>
			<p class="text"><%= parques[x].location %></p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>	
			<hr></hr>
			<% } %>
		
		</div>

		<div class="large-12 columns" id="restaurantes">
			<h3>Restaurantes</h3>
			<% for (var x= 0; x< restaurantes.length; x++) { %>
			<h3 class="title"><%= restaurantes[x].name %></h3>
			<img src="<%= restaurantes[x].img %>" class="imagem small-8 columns ">
			<p><%= restaurantes[x].description %></p>
			<p class="text"><%= restaurantes[x].location %></p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>	
	
			<hr></hr>
			<% } %>
			
		</div>
		
	</section>

	<form class="contato row align-center">
		<div class="info small-6 large-offset-3 columns">
			<h4>Seu contato é muito importante para nós :)</h4>
			<label for="email">E-mail</label>
			<input type="email" name="email">
			<label for="msg">Mensagem:</label>
        	<textarea rows="5" cols="20" maxlength="250" id="msg"></textarea>
			<a class="button" href="#">Enviar</a>
		</div>
	</form>	

