<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/foundation/css/foundation.min.css" />			
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
	<title>Guia Inclusivo</title>
</head>
<body> 
	<section class="row">
		<div class="large-6 columns">
		  	<a href="/"><h1>Guia Inclusivo</h1></a>
		</div>			

		<div class="large-8 columns">
			<ul class="menu-centered">
			  <li><a class="menu <%= paginatual == 'home' ? 'selecionado' : '' %>" href="/">Home</a></li>
			  <li><a class="menu <%= paginatual == 'hoteis' ? 'selecionado' : '' %>" href="/hoteis">Hotéis</a></li>
			  <li><a class="menu <%= paginatual == 'museus' ? 'selecionado' : '' %>" href="/museus">Museus</a></li>
			  <li><a class="menu <%= paginatual == 'parques' ? 'selecionado' : '' %>" href="/parques">Parques</a></li>
			  <li><a class="menu <%= paginatual == 'restaurantes' ? 'selecionado' : '' %>" href="/restaurantes">Restaurantes</a></li>
			</ul>
		</div>
	</section>
	<%- body %>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
<script type="text/javascript" src="/doc.js"></script>
<script type="text/javascript">
  var _hta = {'_setToken': '9579b3407fbad6d871df5f56e0aacc6483b0c40e','_htException': 'HandTalk_EXCECAO'};
  (function() {
    var ht = document.createElement('script'); ht.type = 'text/javascript'; ht.async = true;
    ht.src = '//api.handtalk.me/handtalk_init.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.appendChild(ht);
  })();
  //  HandTalk_EXCECAO -> ID ou CLASSE do elemento que desejar exceção, separados por virgula
  //  Exemplo:  '#menu,.listas,.formulario,#carrousel'
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
<script>
	if (annyang) {
	  // Let's define a command. 
	  var commands = {
	    'hello': function() { alert('Hello world!'); }
	  };
	 
	  // Add our commands to annyang 
	  annyang.addCommands(commands);
	 
	  // Start listening. 
	  annyang.start();
	}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
	<script>
	if (annyang) {
	  // Add our commands to annyang 
	  annyang.addCommands({
	    'hello': function() { alert('Hello world!'); }
	  });
	 
	  // Tell KITT to use annyang 
	  SpeechKITT.annyang();
	 
	  // Define a stylesheet for KITT to use 
	  SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');
	 
	  // Render KITT's interface 
	  SpeechKITT.vroom();
	}
	</script>  
<footer
	<a target="_blank" href="https://plus.google.com/">
		<img class="icone" src="imagens/google-plus.png">
	</a>

	<a target="_blank" href="https://www.facebook.com/">
		<img class="icone" src="imagens/facebook (1).png">
	</a>

	<a target="_blank" href="https://twitter.com/">
		<img class="icone" src="imagens/twitter.png">
	</a>

</footer								
</body>
</html>