

<% for (var x= 0; x< lugares.length; x++) { %>
	<div class="infos row align-middle">
		<img src="<%= lugares[x].img %>" class="imagem large-3 columns ">
		<div class="large-9 columns">
			<h4 class="title"><%= lugares[x].name %></h4>
			<p><%= lugares[x].description %></p>
			<a href="<%=lugares[x].link%>">
				<%= lugares[x].link%>
			</a>
			<p class="text">
				<%= lugares[x].location %>
			</p>
			<a target="_blank" href="https://web.moovitapp.com/tripplan?metroId=242&lang=pt" >
				<img src="/images/moovit.png" class="infocaminho">
			</a>
		</div>
	</div>
<% } %>

